@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Red Hat Text';
        src: url("assets/fonts/RedHatText-VariableFont_wght.ttf") format('truetype');
        font-weight: 400 700;
        font-display: swap;
    }

    * {
        font-family: theme('fontFamily.red-hat'), sans-serif;
    }

    body {
        background-color: theme('backgroundColor.rose.50');
    }
}

@layer utilities {
    .preset-1 {
        font-size: theme('fontSize.heading-xl');
        font-weight: theme('fontWeight.bold');
    }

    .preset-2 {
        font-size: theme('fontSize.heading-lg');
        font-weight: theme('fontWeight.bold');
    }

    .preset-3 {
        font-size: theme('fontSize.body-base');
        font-weight: theme('fontWeight.semibold');
    }

    .preset-4 {
        font-size: theme('fontSize.body-sm');
        font-weight: theme('fontWeight.normal');
    }

    .preset-4-bold {
        font-size: theme('fontSize.body-sm');
        font-weight: theme('fontWeight.semibold');
    }
}
